.About {
	&Main {
		height: 537px;
		background: url("../img/nuestraempresa-header-fixed-bk.jpg") center;
		width: 100%;
		position: relative;
		.points {
			background: url("../img/halftone-03.png");
			height: 117px;
		}
	}
	&Description {
		background: #FFF;
		padding-top: 5rem;
		padding-bottom: 5rem;
		&-title {
			padding-bottom: 5rem;
			h1 {
				color: $secundary-color;
			    font-size: 32px;
			    font-weight: 900;
				margin: 0;
			    text-transform: uppercase;
			}
		}
	}
	&Parrgraph-text {
		font-weight: 900;
		text-align: justify;
		font-size: 13px;
	}
	&Certification {
		background: $secundary-color;
		padding: 5rem 0;
		.AboutParrgraph-text {
			color: #FFF;
		}
		&-header {
			margin-bottom: 3rem;
		}
	}
	&Title {
		color: $primary-color;
		font-weight: 900;
	}
	&Subtitle {
		color: #FFF;
		font-weight: 900;
	}
	&WhoUs {
		background: #FFF;
		padding: 3rem 0;
		&-hover {
			position: absolute;
		    top: 0px;
		    background: rgba($secundary-color,.7);
		    height: 176px;
		    width: 176px;
		    color: #FFF;
		    padding: 80px 0 0 15px;
		    display: none;
		    cursor: pointer;
		}
		.AboutTitle {
			color: #000;
			font-size: 6rem;
		}
		&-listProfiles {
			li {
				list-style: none;
				display: inline-block;
				margin: 5px;
				img {
					cursor: pointer;
				}
			}
		}
		&-info {
			margin-top: 4rem;
			&:nth-child(1) {
				border-right: 3px solid $secundary-color;
				padding-right: 4rem;
			}
			&:nth-child(2) {
				padding-left: 4rem;
			}
			.AboutTitle {
				color: $secundary-color;
				font-size: initial;
				margin-bottom: 1rem;
				margin-top: 0;
			}
		}
	}
	&Clients {
		padding: 3rem 0;
		background: #000;
		.AboutParrgraph-text {
			color: #FFF;
		}
		&-title {
			.AboutTitle {
				color: #FFF;
				text-align: center;
				margin-top: 10rem;
			}
		}
		&-list {
			text-align: center;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin: 0 25px 15px;
			}
		}
	}
}

.a-wrapper {
	background: #FFF;
	padding: 3rem 0;
}

@media screen and (max-width: 768px) {
	.AboutWhoUs-info {
		&:nth-child(1) {
			padding-right: 15px;
			border-right: 0;
		}
		&:nth-child(2) {
			padding-left: 15px;	
		}
	}
}