body {
	font-family: "Arial";
	background: #000;
}

.MainSection {
	position:relative;
	.carousel-indicators {
		    left: initial;
		    right: 21%;
		    width: auto;
		li {
			background: #000;
			width: 20px;
			height: 20px;
			@include border-radius(20px);
			border: solid 3px $primary-color;
			&.active {
				background: $primary-color;
			}
		}
	}
}

.points {
	background: url("../img/halftone-01.png");
	position: absolute;
	bottom: 0;
	height: 180px;
	width: 100%;
}

@media screen and (max-width:1366px) {
	.MainSection .carousel-indicators {
	    right: 10%;
	}
}

@media screen and (max-width:1024px) {
	.MainSection .carousel-indicators {
	    right: 5%;
	}
}