.Articles {
	position: relative;
	&-top {
		background: url("../img/articles/articulos-header-bk.jpg") center bottom repeat-y;
		height: 467px;
		position: relative;
		&Image {
			max-width: 100%;
			text-align: center;
		}
		&Points {
			background: url("../img/halftone-03.png");
			position: absolute;
			bottom: 0;
			height: 50px;
			width: 100%;
		}
	}
	&-search {
		position: absolute;
		right: 22%;
		top: 25%;
		&Info {
			span {
				font-weight: 900;
				text-transform: uppercase;
				@include text-shadow(#000 -3px 3px 2px);
			}
			.line1 {
				font-size: 3.725rem;
				line-height: 4rem;
			}
			.line1, .line3 {
				color: $primary-color;
			}
			.line2 {
				color: #FFF;
				font-size: 3.9rem;
				line-height: 4rem;
			}
			.line3 {
				font-size: 4.8rem;
				line-height: 5rem;
			}
		}
		&Form {
			margin-top: 2rem;
			position: relative;
			.input {
			    border: 3px solid $secundary-color;
			    border-radius: 20px;
			    height: 56px;
			    padding: 1em 6em 1em 1em;
				width: 100%;
			}
			.button {
				background: url("../img/articles/icon-search.png");
			    border: 0;
			    height: 50px;
			    position: absolute;
			    right: 3px;
			    top: 3px;
			    width: 70px;
			    &:focus, &:hover {
			    	background: url("../img/articles/icon-search-clic.png");
			    }
			}
			.label {
				color: #fff;
				display: block;
				font-size: 1.5rem;
				font-weight: 900;
				text-transform: uppercase;
				text-align: right;
			}
		}
	}
	&-list {
		background: #fff;
		.container {
			margin: 0 auto;
			max-width: 1142px;
			padding: 0;
			width: 100%;
			article {
				padding: 8rem 0;
				overflow: hidden;
				.right, .left {
				    padding: 0 26px;
				}
				.left {
					color: #5d5d5d;
					float: left;
					width: 42%;
					h2 {
						margin: 0;
						font-size: 2.25rem;
					}
					.date {
						color: #000;
						font-size: 1.15rem;
					}
					.content {
						font-size: 1.15rem;
						margin-top: 2rem;
						text-align: justify;
					}
					.button {
						background: $primary-color;
						border-radius: 15px;
						color: #000;
						float: right;
						font-size: 1.1rem;
						padding: 1rem;
						&:hover {
							text-decoration: none;
						}
					}
				}
				.left, h2 {
					font-weight: 900;
				}
				.right {
					float: right;
				    width: 58%;
					.image {
						width: 100%;
						text-align: center;
						img {
							max-width: 100%;
						}
					}
				}
			}
			.timeLine {
				background: $secundary-color;
				height: 2px;
				position: relative;
			    text-align: center;
			    span {
			    	background: #fff;
			    	color: $secundary-color;
			    	font-weight: 900;
			    	margin-left: -58px;
			    	padding: 0 4rem;
			    	position: absolute;
			    	top: -1rem;
			    }
			}
		}
	}
	.pagination {
	    background: #fff;
	    margin: 0px;
		width: 100%;
		.container {
		    border-top: 2px solid $secundary-color;
		    margin: 0 auto;
		    padding: 8rem 0;
		    text-align: center;
		}
		span {
		    color: #5d5d5d;
		    font-weight: 900;
			padding: 0 0.5rem;
		}
	}
}

.Article {
	background: #fff;
	margin-top: 78px;
	padding-bottom: 8rem;
	&-header {
		h1, .date {
			font-weight: 900;
		}
		h1 {
			color: #5d5d5d;
			font-size: 3rem;
			margin: 8rem 0 0 0;
		}
		.date {
			color: #000;
			font-size: 1.5rem
		}
	}
	&-image {
		margin-top: 4rem;
		text-align: center;
		width: 100%;
		img {
			max-width: 100%;
		}
	}
	&-content{
	    color: #5d5d5d;
	    font-size: 1.25rem;
	    font-weight: 900;
	    margin-top: 6rem;
	    overflow: hidden;
	    text-align: justify;
	    img {
	    	height: auto;
	    	width: 100%;
	    }
	    p {
	    	margin: 0 0 16px;
	    }
	}
	&-links {
		border-top: 2px solid #000;
		margin-top: 4rem;
		padding: 3rem 0 0 0;
		text-align: center;
		a {
			color: #5d5d5d;
			font-size: 1.3rem;
			font-weight: 900;
			padding: 0 2rem;
			text-transform: uppercase;
			&.disabled {
				color: #a0a0a0;
				pointer-events: none;
				cursor: default;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.Articles-search {
		right: 5%;
	}

	.Articles-list .container article {
		.right {
			width: 55%;
		}
		.left {
			width: 45%;
		}
	}

}

@media screen and (max-width: 768px) {
	.Articles-list .container article {
		.right {
			width: 54%;
		}
		.left {
			float: none;
    		width: 100%;
		}
	}
}

@media screen and (max-width: 640px) {
	.Articles {
		&-search {
		    right: 32%;
		    top: 32%;
		}
	}
}

@media screen and (max-width: 570px) {
	.Articles {
		&-search {
		    right: 5%;
		    top: 35%;
		}
		&-searchInfo {
			.line1 {
				font-size: 3.5rem;
			}
			.line2 {
				font-size: 3.65rem;
    			line-height: 3.75rem;
			}
			.line3 {
				font-size: 4.53rem;
    			line-height: 4.5rem;
			}
		}
		&-list .container article .right {
			padding-bottom: 2rem;
		    width: 100%;
		}
	}
}

@media screen and (max-width: 380px) {
	.Articles {
		&-search {
		    right: 0%;
		    top: 35%;
		}
	}
}

@media screen and (max-width: 320px) {
	.Articles {
		&-searchInfo {
			.line1 {
				font-size: 3rem;
			}
			.line2 {
				font-size: 3.1rem;
    			line-height: 3rem;
			}
			.line3 {
				font-size: 3.9rem;
    			line-height: 4rem;
			}
		}
	}
}