.Contact {
	background: url("../img/img-mapa.jpg") center;
	height: 820px;
	width: 100%;
	position: relative;
	&-agent {
		position: absolute;
		left: 15%;
		bottom: 0;
		width: 656px;
		max-width: 656px;
	}
	&-bgOver {
		background: rgba($secundary-color,.75);
		height: 820px;
		width: 100%;
		@include box-sizing(border-box);
		padding: 6rem 0 0 0;
	}
	&-info {
		color: #FFF;
		font-weight: 700;
		font-size: 12px;
		&Numbers {
			color: $primary-color;
			font-size: 16px;
			img {
				float:left;
				margin-right:1rem;
			}
		}
	}
	&-form {
		color: #FFF;
		margin-top: 3rem;
		.form-control {
			@include border-radius(0 !important);
			height: 52px;
			margin-bottom: 1rem;
		}
		textarea.form-control {
			min-height: 200px;
		}
	}
	&-btnSend {
		width: 190px;
		height: 54px;
		background: $primary-color !important;
		border: solid 2px #FFF;
		@include box-sizing(border-box);
		font-weight: 900;
		color: $secundary-color;
		font-size: 2rem;
	}
	&-btnAgent {
		position: absolute;
	    bottom: 50%;
	    left: 23%;
	    width: 352px;
	    height: auto;
	    &Back {
	    	left: 1170px;
	    	bottom: 120px;
	    	display: none;
	    }
	}
}

 @media screen and (max-width: 1366px) {
 	.Contact-agent {
 		left: 0;
 	}
 	.Contact-btnAgent {
 		left: 11%;
 	}
 }