.Footer {
	min-height: 106px;
	background: #000;
	width: 100%;
	padding: 1rem 0;
	position: relative;
	z-index: 9999;
	&-brand {
		border-right: solid 3px $primary-color;
	}
	&-contactInfo {
		color: $primary-color;
		ul {
			float: left;
			padding: 0;
			margin-right: 1rem;
		}
		li {
			list-style: none;
			font-weight: 700;
			line-height: 15px;
		}
	}
	&-copy {
		color: #FFF;
	}
	&-redes {
		li {
			margin-bottom: 5px;
		}
	}
}