.Header {
	height:78px;
	background: rgba(0,0,0,.75);
	width: 100%;
	@include box-sizing(border-box);
	padding: 10px 0;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
	.navbar-default {
		background: transparent;
		border: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: transparent;
	}
	.navbar-default .navbar-nav > li {
		&.active, &:hover, &:focus {
			border-bottom: 2px solid $primary-color;
		}
		& > a {
			background-color: transparent !important;
			color: $primary-color !important;
			font-weight: 700;
		}
	}
	.navbar-brand {
		padding: 0 !important;
		height: auto !important;
		line-height: 58px;
		img {
			float: left;
		}
		span {
			float: left;
			color: $primary-color;
			font-weight: 900;
			margin-left: 10px;
			font-size: 3rem;
		}
	}
}

.extraLinks {
	position: absolute;
	right: 0;
	top: 6px;
	li {
		list-style: none;
		margin-bottom: 0.75rem;
	}
	a {
		background: $primary-color;
		@include border-radius(10px 0 0 10px);
		color: #000;
		font-weight: 900;
		width: 113px;
		text-align: left;
		display: block;
		@include box-sizing(border-box);
		padding: 3px 0 3px 11px;
		font-size: 11px;
		@include box-shadow(inset -12px 0px 42px -6px rgba(0,0,0,0.33));
	}
}

@media screen and (max-width:768px) {
	.Header .navbar-default .navbar-collapse, .Header .navbar-default .navbar-form {
		background: #000;
	}
	.extraLinks {
		top: 87px;
	}
}
