.Articulos {
	background: $primary-color;
	&-header, &-footer {
		background: url("../img/halftone-01-reverse.png") bottom;
		height: 84px;
		width: 100%;
		padding: 1.5rem 0;
		@include box-sizing(border-box);
		h3, span {
			font-weight: 900;
			padding: 0 1rem;
		}
		h3 {
			background: $primary-color;
			display: initial;
			color: #000;
		}
		span {
			background: #000;
			color: #FFF;
			font-size:18px;
			margin-left: 0.8rem;
		}
	}
	&-footer {
		background: url("../img/halftone-02.png") top;
	}
	&-body {
		background: $primary-color;
		color: #000;
		padding: 2rem 0;
		text-align: justify;
		h4 {
			font-weight: 700;
			text-align: left;
		}
		.Articulo-item {
			border-right: solid 3px #000;
			&Picture {
				background: #282880;
				height: 125px;
				overflow: hidden;
				width: 100%;
				img {
					height: 100%;
					width: auto;
				}
			}
			&:last-child {
				border-right:0;
			}
		}
	}
}

.HomeServicios {
	position: relative;
	margin-bottom: 120px;
	&-listWrapper {
		background: $primary-color;
		height: 38px;
    	line-height: 38px;
    	@include border-radius(5px);
	}
	ul {
		padding: 0;
	}
	li {
		list-style: none;
		float: left;
		a {
			color: $secundary-color;
			font-size: 12px;
			font-weight: 900;
		}
	}
	li:nth-child(1) {
		margin: 0 3rem 0 6rem;
	}
	li:nth-child(2) {
		margin: 0 6rem 0 3rem;
	}
	li:nth-child(3) {
		float: right;
		margin: 0 6rem 0 2rem;
	}
	li:nth-child(4) {
		float: right;
		margin: 0 3rem 0 4rem;
	}
	&-logo {
		position: absolute;
	    top: -25px;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	    img {
	    	position: absolute;
	    	margin-left: auto;
		    margin-right: auto;
		    left: 0;
		    right: 0;
	    }
	    &-md {
	    	text-align: center;
	    }
	}
	&-item-md {
		display: block;
		padding: 1rem 2rem;
		text-align: center;
		color: $secundary-color;
		background: $primary-color;
		font-weight: 900;
		margin: 1rem 0;
		@include border-radius(5px);
	}

	&-itemWrapper {
		margin-top: 3rem;
		img {
			    max-width: 100%;
		}
	}
	&-itemSolution {
		margin-left: 4rem;
		padding-top: 6rem;
		text-align: center;
    	font-size: 11px; 
    	color: #FFF;
	}
}

.HomeVideos {
	margin-bottom: 120px;
}

.HomeVideo {
	height: 222px;
	position: relative;
	width: 360px;
	&-info {
		color: #FFF;
		font-weight: 900;
		left: 23px;
		position: absolute;
		top: 59px;
		font-size: 12px;
		.Important {
			font-size: 18px;
			color: $primary-color;
		}
	}
}