.Services {
	margin-top: 0 !important;
}
.Products {
	background: #000;
	padding-top: 11rem;
	margin-top: 0 !important;
	/* margin-bottom: 11rem; */
	article, p, h2 {
		color: #FFF;
		font-weight: 700;
		text-align: justify;
	}
	h2 {
		font-weight: 900;
	}
	&-services {
		&Block {
			margin: 7rem 0; 
		} 
		&List {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-right: 25px;
				vertical-align: top;
				width: 312px;
				&:last-child {
					margin-right: 0;
				}
				img {
					float: left;
				} 
				.content {
					float: right;
					text-transform: uppercase;
					width: 200px;
					.title {
						color: $primary-color;
					    text-decoration: underline;
					    font-size: 16px;
						font-weight: 900;
					}
					p {
						font-size: 12px;
					}
				}
			}
		}
	}
}

.Product {
	&-title {
		text-align: center !important;
		margin: 3rem 0; 
	}
	&-listItem {
		margin: 0 24px 25px;
		width: 227px;
		list-style: none;
	}
	&-picture {
		background: $secundary-color;
		width: 100px;
		height: 92px;
		overflow: hidden;
		margin-right: 25px;
	}
	&-description {
		font-size: 11px;
		text-align: left;
		p {
			text-align: left !important;
		}
	}
}

.camera {
	width: 295px;
    position: absolute;
    left: -65px;
    top: -47px;
}

.Services {
	background: #FFF;
	padding:6rem 0 12rem 0;
	.nav-tabsMine {
		border-bottom: solid 2px $secundary-color;
		li {
			width: 33%;
			a {
				color: #afafaf;
				font-weight: 900;
				height: 80px;
				width: 300px;
				margin-bottom: 2rem;
				img, span {
					display: inline-block;
	    			vertical-align: middle;
				}
				img {
					@include opacity(0.3);
				}
			}
			&.active, &:hover {
				a {
					color: #000;
					img {
						@include opacity(1);
					}
				}
			}
		}
	}
	.tabSmall {
		.pull-left {
			width: 67%;
		}
		.pull-right {
			padding-left: 15px;
			width: 33%;
			.imageGalSmall {
				float: left;
				width: 50%;
			}
			.imageGalSmall:nth-child(2n+1) {
				padding-right: 8px;
			}
			.imageGalSmall:nth-child(2n) {
				padding-left: 8px;
			}
			a {
				display: block;
				max-height: 82px;
				overflow: hidden;
				margin-bottom: 1.5rem;
			}
			img {
				max-width: 100%;
			}
		}
	}
	.tabLarge {
		.pull-left {
			width: 75%;
		}
		.pull-right {
			padding-left: 15px;
			width: 25%;
			.imageGalLarge {
				float: left;
				width: 50%;
			}
			.imageGalLarge:nth-child(2n+1) {
				padding-right: 8px;
			}
			.imageGalLarge:nth-child(2n) {
				padding-left: 8px;
			}
			a {
				display: block;
				max-height: 85px;
				overflow: hidden;
				margin-bottom: 1.5rem;
			}
			img {
				max-width: 100%;
			}
		}
	}
	.spy {
		float: right;
		margin-left: 15px;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border: 0 !important;
		background-color: transparent !important;
	}
	.nav-tabs > li > a:hover {
		background: transparent !important;
		border: 0 !important;
	}
	.nav-tabs {
		li {
			a {
				color: #777;
				font-weight: 900;
			}
			&.active, &:hover {
				a {
					color: #000;
				}
			}
		}
	}
	.tab-content {
		margin-top: 3rem;
		p, ul {
			font-weight: 900;
		}
	}
	.tabs-left {
		border: 0;
	}
	.tab-pane {
		.tab-content {
			margin-top: 1rem;
		}
		p {
			text-align: justify;	
		}
	}
}

.triangle {
	width: 0;
	height: 0;
	border-top: 30px solid $secundary-color;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	position: absolute;
    bottom: -49px; 
    display: none;
}

.triangle2 {
	border-left: 15px solid $secundary-color;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    display: none;
	height: 0;
    margin-top: -15px;
	position: absolute;
	right: 0;
    top: 50%; 
	width: 0;
}

@media screen and (max-width: 768px) {
	.Services {
		.tabSmall {
			.pull-right {
				width: 45%;
			}
			.pull-left {
				width: 55%;
			}
		}
		.tabLarge {
			.pull-right {
				width: 35%;
			}
			.pull-left {
				width: 65%;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.Services {
		.nav-tabsMine {
			li {
				width: 50%;
			}
		}
		.tabs-left {
			li {
				width: 50%; 
				float: left;
				&:last-child {
					clear: both;
				}
			}
		}
		.tab-pane {
			.left, .right {
				width: 100%;
			}
		}
		.tabSmall, .tabLarge {
			.pull-left, .pull-right {
				width: 100%;
			}
			.pull-right {
				margin-top: 1rem;
				padding-left: 0;
				a {
					max-height: 150px;
				}
			}
		}
		.spy {
			float: none;
			text-align: center;
			margin: 0 0 3rem;
		}
	}

	.triangle, .triangle2 {
		display: none !important;
	}

}

@media screen and (max-width:360px) {
	.Services {
		.nav-tabsMine {
			li {
				width: 100%;
			}
		}
		.tabs-left {
			li {
				width: 100%; 
			}
		}
	}
}