.Services {
	&-banner {
		background: #fff;
		overflow: hidden;
		position: relative;
		&Image {
			background: #000 url('../img/servicios/servicio-header-fixed-bk.jpg') center no-repeat;
			height: 470px;
			position: relative;
			width: 100%;
			.points {
				background: url(../img/halftone-01.png);
			    position: absolute;
			    bottom: 0;
			    height: 180px;
			    width: 100%;
			}
		}
		&Logo {
			position: absolute;
			right: 18%;
			bottom: 3%;
			img {
				float: right;
			}
			.info {
				float: left;
    			margin-right: -3rem;
				margin-top: 7rem;
				span {
					font-weight: 900;
					text-transform: uppercase;
					@include text-shadow(#000 -3px 3px 2px);
				}
				.line1 {
					font-size: 6.85rem;
				}
				.line1, .line2 {
					color: $primary-color;
					line-height: 6rem;
				}
				.line2 {
					font-size: 7.37rem;
				}
				.line3 {
					color: #FFF;
					font-size: 2.33rem;
					line-height: 2rem;
				}
			}
		}
		&Agent {
		    bottom: -76px;
		    left: 18%;
			position: absolute;
		    z-index: 999;
		}
	}
	&-offers {
		.container {
			max-width: 1222px;
			padding-left: 26px;
    		padding-right: 26px;
			width: 100%;
		}
		background: $primary-color;
		padding-bottom: 4rem;
		&Title {
			overflow: hidden;
			.left, .right {
				color: #000;
				font-weight: 900;
				margin-top: 2rem;
			}
			.left {
				float: left;
				.line1, .line2 {
				    text-transform: uppercase;
				}
				.line1 {
				    font-size: 2.65rem;
				}
				.line2 {
					background: #000;
				    color: #fff;
				    padding: 0 1rem;
				    font-size: 1.6rem;
				}
			}
			.right {
				float: right;
				text-align: right;
				.line1 {
					font-size: 1.8rem;
					margin-right: -5px;
				}
				.line2 {
					font-size: 1.25rem;
				}
			}
		}
		&Content {
		    font-size: 1.2rem;
		    font-weight: 900;
		    line-height: 1.4rem;
		    margin-left: -26px;
    		margin-right: -26px;
		}
	}
	&-segFis {
		background: #fff;
		padding: 12rem 0 6rem 0;
		.title, .content {
			font-weight: 900;
		    text-transform: uppercase;
		}
		.title {
		    font-size: 2.25rem;
		}
		.content {
		    font-size: 1.2rem;
		    margin-top: 2rem;
		    text-align: justify;
		}
		.image img{
			float: right;
			max-width: 100%;
		}
	}
}

@media screen and (max-width:1366px) {
	.Services-banner {
		&Agent {
			left: 4%;
		}
		&Logo {
			right: 3%;
		}
	}
}

@media screen and (max-width:1024px) {
	.Services-banner {
		&Agent {
			display: none;
		}
		&Logo {
			right: 15%;
		}
	}
}

@media screen and (max-width:768px) {
	.Services {
		&-banner {
			&Logo {
				right: 0;
				bottom: 0%;
			}
		}
		&-segFis {
			background: #fff;
			padding: 6rem 0;
			.image {
				margin-top: 3rem;
				text-align: center;
				img{
					float: none;
				}
			}
		}
	}
}

@media screen and (max-width:640px) {
	.Services-banner {
		&Logo {
			right: 5%;
			bottom: 0%;
		}
		.info {
			.line1 {
				font-size: 4.85rem;
			}
			.line1, .line2 {
				line-height: 4rem;
			}
			.line2 {
				font-size: 5.1rem;
			}
			.line3 {
				font-size: 1.6rem;
			}
		}
		img {
			width: 250px;
		}
	}
}

@media screen and (max-width:360px) {
	.Services-banner {
		&Logo {
			right: 0;
			bottom: 0%;
    		text-align: center;
			width: 100%;
		}
		.info {
			width: 100%;
		}
		img {
			float: none;
			width: 200px;
		}
	}
}

@media screen and (max-width: 1860px) {
	.Services-banner {
		&Agent {
			left: 4%;
		}
	}
}